@use "../utils" as *;

@include media_query("xl", "min") {
  .information-cta-wrapper {
    z-index: 100;
    height: 404px;
    box-shadow: $shadow_info;

    .information-cta-icon-wrapper {
      bottom: 115px;
    }

    .information-cta-txt {
      width: 384px;
    }
  }
}

.information-cta-btn {
  .cta-btn {
    background: linear-gradient(
      107deg,
      var(--color-secondary) -11.52%,
      var(--color-secondary-400) 129.61%
    );
  }
}

@include media_query("xl", "max") {
  .information-wrapper {
    margin-block-start: 32px;
    .information-txt-wrapper {
      margin-block-end: 0;
      font-size: 48px;
      line-height: 3;
    }

    .information-cta-icon-wrapper {
      bottom: 116px;
    }

    .information-cta-wrapper {
      margin-block-start: 0;

      .information-cta-txt {
        width: 100%;
      }

      .information-cta-txt {
        margin-block-end: 0;
        margin-block-start: -100px;
        text-align: center !important;
      }

      .information-cta-btn {
        margin-block-end: 0;
        width: 100%;
      }
    }
  }
}
