/* Error: Undefined variable.
 *    ,
 * 43 |   border-radius: $border-radius;
 *    |                  ^^^^^^^^^^^^^^
 *    '
 *   assets\scss\components\_buttons.scss 43:18  btn()
 *   assets\scss\components\_buttons.scss 94:3   @forward
 *   assets\scss\components\_index.scss 1:1      @forward
 *   assets\scss\index.scss 4:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 43 \2502    border-radius: $border-radius;\a    \2502                   ^^^^^^^^^^^^^^\a    \2575 \a   assets\\scss\\components\\_buttons.scss 43:18  btn()\a   assets\\scss\\components\\_buttons.scss 94:3   @forward\a   assets\\scss\\components\\_index.scss 1:1      @forward\a   assets\\scss\\index.scss 4:1                  root stylesheet";
}
