@use "../utils/" as *;

@include media_query("lg", "min") {
  .content-title {
    z-index: -100;
    transform: translateY(4.5rem);
    text-align: center;
  }
}

@include media_query("sm", "min") {
  .home-page-hero {
    .home-page-hero-swiper {
      .swiper {
        .swiper-pagination {
          .swiper-pagination-bullet {
            width: 132px !important;
          }

          .swiper-pagination-bullet-active {
            width: 276px !important;
          }
        }
      }

      .swiper-wrapper {
        height: 100vh;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }

    .swiper-info {
      z-index: 100;
      left: 0;
      right: 0;
      top: 36vh;
      .swiper-info-btn {
        .info-btn {
          background: linear-gradient(
            107deg,
            var(--color-secondary) -11.52%,
            var(--color-secondary-400) 129.61%
          );
        }
      }
    }

    .logo-wrapper {
      z-index: 100;
      margin: 36px 36px 0 0;
    }
  }
}

.home-page-main-content {
  max-width: 1440px;
  margin: 0 auto;
}

@include media_query("sm", "max") {
  .home-page-hero {
    .home-page-hero-swiper {
      .swiper {
        .swiper-pagination {
          .swiper-pagination-bullet {
            width: 22px !important;
          }

          .swiper-pagination-bullet-active {
            width: 100px !important;
          }
        }
      }
      .swiper-wrapper {
        height: 100vh;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }

    .swiper-info {
      z-index: 100;
      left: 0;
      right: 0;
      top: 36vh;
      .swiper-info-btn {
        .info-btn {
          background: linear-gradient(
            107deg,
            var(--color-secondary) -11.52%,
            var(--color-secondary-400) 129.61%
          );
        }
      }
    }

    .logo-wrapper {
      z-index: 100;
      margin: 36px 36px 0 0;
    }
  }
}

@include media_query("xl", "min") {
  .swiper-info {
    margin-left: 10vw;
  }

  .swiper-pagination {
    margin-left: 4vw;
  }
}

@include media_query("xl", "min") {
  .home-page-main-content {
    padding-inline-start: 384px;
  }
}

.landmark-percent-wrapper {
  .landmark-percent-info-img {
    width: max-content;
  }
}

.landmark-percent-txt {
  gap: 4px;

  .landmark-item {
    width: 100%;
    height: 2px;

    &-inner {
      display: inline-block;
      width: var(--width);
      height: 4px;
      background-color: #f25c05;
    }
  }
}

@include media_query("lg", "max") {
  .landmark-percent-title-wrapper,
  .services-title-wrapper {
    font-size: 48px;
    line-height: 2;
    text-align: center;
  }

  .landmark-percent-info-wrapper {
    justify-items: center;
    padding: 0 16px;
  }
}

@include media_query("lg", "min") {
  .services-post-main-wrapper {
    .services-post-wrapper:nth-child(even) {
      .post-img {
        order: 2;
      }
    }
  }
}

@include media_query("lg", "max") {
  .services-post-wrapper {
    justify-items: center;
  }

  .post-content {
    justify-content: center;
  }
}

.landmark-archive-wrapper {
  @include media_query("sm") {
    --col: 1;
  }
}

@include media_query("md", "min") {
  .landmark-image-wrapper {
    .landmark-img {
      width: 100%;
      transition: opacity $transition;
    }

    .landmark-image-text {
      opacity: 0;
      transition: opacity $transition;
    }

    &:hover {
      .landmark-img {
        opacity: 0.5;
      }

      .landmark-image-text {
        z-index: 999;
        opacity: 1;
      }
    }
  }
}

@include media_query("md", "max") {
  .landmark-image-wrapper:hover {
    .landmark-img {
      opacity: 0.5;
    }
  }
}

.landmark-section-btn {
  background: linear-gradient(
    107deg,
    var(--color-secondary) -11.52%,
    var(--color-secondary-400) 129.61%
  );
}

.landmark-wrapper {
  .content-title {
    transform: translateY(6.5rem);
  }
}

.video-teaser-main-wrapper {
  .video-teaser-title-wrapper {
    transform: translateY(4rem);
  }
}

.video-wrapper {
  position: relative;
  max-width: 100%;
  height: auto;
}

#video-teaser {
  width: 100%;
  height: auto;
  display: block;
}

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  z-index: 2;
}

.video-cover.hidden {
  opacity: 0;
  pointer-events: none;
}

.video-cover-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .video-wrapper {
    width: 100%;
  }
}
