@use "../utils/" as *;

@include media_query("sm", "min") {
  .home-page-hero {
    .home-page-hero-swiper {
      .swiper {
        .swiper-pagination {
          .swiper-pagination-bullet {
            width: 132px !important;
          }

          .swiper-pagination-bullet-active {
            width: 276px !important;
          }
        }
      }

      .swiper-wrapper {
        height: 100vh;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }

    .swiper-info {
      z-index: 100;
      left: 0;
      right: 0;
      top: 36vh;
      .swiper-info-btn {
        .info-btn {
          background: linear-gradient(
            107deg,
            var(--color-secondary) -11.52%,
            var(--color-secondary-400) 129.61%
          );
        }
      }
    }

    .logo-wrapper {
      z-index: 100;
      margin: 36px 36px 0 0;
    }
  }
}

.home-page-main-content {
  max-width: 1440px;
  margin: 0 auto;
}

@include media_query("sm", "max") {
  .home-page-hero {
    .home-page-hero-swiper {
      .swiper {
        .swiper-pagination {
          .swiper-pagination-bullet {
            width: 22px !important;
          }

          .swiper-pagination-bullet-active {
            width: 100px !important;
          }
        }
      }
      .swiper-wrapper {
        height: 100vh;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }

    .swiper-info {
      z-index: 100;
      left: 0;
      right: 0;
      top: 36vh;
      .swiper-info-btn {
        .info-btn {
          background: linear-gradient(
            107deg,
            var(--color-secondary) -11.52%,
            var(--color-secondary-400) 129.61%
          );
        }
      }
    }

    .logo-wrapper {
      z-index: 100;
      margin: 36px 36px 0 0;
    }
  }
}

@include media_query("xl", "min") {
  .swiper-info {
    margin-left: 10vw;
  }

  .swiper-pagination {
    margin-left: 4vw;
  }
}

@include media_query("xl", "min") {
  .home-page-main-content {
    padding-inline-start: 384px;
  }
}

.landmark-percent-wrapper {
  .landmark-percent-title-wrapper {
    z-index: -100;
    bottom: 86%;
    min-width: max-content;
  }

  .landmark-percent-info-img {
    width: max-content;
  }
}

.landmark-percent-txt {
  gap: 4px;

  .landmark-item {
    width: 100%;
    height: 2px;

    &-inner {
      display: inline-block;
      width: var(--width);
      height: 4px;
      background-color: #f25c05;
    }
  }
}

@include media_query("lg", "max") {
  .landmark-percent-title-wrapper,
  .services-title-wrapper {
    font-size: 48px;
    line-height: 2;
    text-align: center;
  }

  .landmark-percent-info-wrapper {
    justify-items: center;
    padding: 0 16px;
  }
}

@include media_query("lg", "min") {
  .services-post-main-wrapper {
    .services-post-wrapper:nth-child(even) {
      .post-img {
        order: 2;
      }
    }
  }
}

.services-title-wrapper {
  bottom: 90%;
  z-index: -100;
}

@include media_query("lg", "max") {
  .services-post-wrapper {
    justify-items: center;
  }

  .post-content {
    justify-content: center;
  }
}
