@use "../utils" as *;

.main-service {
  .bg-service-svg-wrapper {
    z-index: -100;
    top: -12vh;
  }

  .service-hero-wrapper {
    .service-hero-img {
      .service-img {
        width: 100%;
      }
    }
  }
}

@include media_query("md", "max") {
  .service-hero-wrapper {
    .service-hero-txt {
      order: 2;

      & h1 {
        font-size: 32px;
      }
    }
  }

  .time-line-info-wrapper {
    margin-block-start: 20px;
    align-items: center;
  }
}
